ci:
    skip: [isort, black, pylint]

repos:
-   repo: https://github.com/pycqa/isort
    rev:  5.13.2
    hooks:
    -   id: isort
        name: isort (python)

-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    -   id: black
        name: black
        stages: [pre-commit]
        exclude: ^ORBIT/api/wisdem

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-yaml
        args: [--unsafe]  # allow Python constructors
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: mixed-line-ending
    -   id: pretty-format-json
        args: [--autofix]

-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.10
    hooks:
    -   id: ruff
        args: [--fix]
